<ul>
  <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Рассказ о сортировках</a></li>
  <li><a routerLink="silly-sorting" routerLinkActive="active">Глупая сортировка</a></li>
  <li><a routerLink="bubble-sorting" routerLinkActive="active">Пузырьковая сортировка</a></li>
  <li><a routerLink="shake-sorting" routerLinkActive="active">Шейкерная сортировка</a></li>
  <li><a routerLink="odd-odd-sorting" routerLinkActive="active">Чётно-нечётная сортировка</a></li>
</ul>